@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --bg-yellow: #ffd250;
  --bg-dark-blue: #251E8C;
  --bg-light-blue: #07C1DB;
}
html {
  margin: 0px !important;
  padding: 0px !important;
}
body {
  width: 100%;
  font-family: var(--main-font);
  margin: 0px !important;
  padding: 0px !important;
}

a {
  font-family: var(--main-font);
}

a:hover {
  text-decoration: none;
  color: #fff;
}
label {
  /* font-weight: bold; */
  font-size: 15px;
}

.info-success {
  color: green;
}
.info-error {
  color: red;
}

.form-control {
  background-color: #e9e9e9;
}
.form-select {
  background-color: #e9e9e9;
}
.tutor-basic-info {
  box-shadow: 0px 0px 1px 0px #00000029;
  border-radius: 8px;
  text-align: center;
  margin-top: 30px;
}
.tab-colum {
  box-shadow: 0px 0px 1px 0px #00000029;
  border-radius: 8px;
  margin-top: 30px;
}
/* .user-img {
  margin-top: 20px;
} */
.user-img {
  margin-top: 0px;
  padding: 35px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  border-radius: 35px;
  width: 30px;
}
.user-image {
  padding: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 34px;
  width: 69px;
  margin: auto;
}
.user-name {
  padding-top: 20px;
}
.select-control {
  display: flex;
}
.select-control select{
  display: block;
  background-color: #E9E9E9;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  padding: 10px;
  border: 0px;
  height: 47px;
  align-self: center;
  border-radius: 8px;
}

.select-control select:focus {
  background-color: #E9E9E9;
  outline: none;
  border: 0px;
}
.password {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.password i {
  margin-left: -30px;
  cursor: pointer;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
  color: #342da1 !important;
}
.hire-head{
  color: var(--bg-dark-blue);
}
.btn-outline-rounded {
  margin-top: 20px;
  font-size: 32px;
  color: #fff;
  background-color: var(--bg-dark-blue);
  padding: auto;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  float: right;
}
@media screen and (max-width: 780px){
  .btn-outline-rounded {
    position: fixed;
    margin-top: 20px;
    font-size: 32px;
    color: #fff;
    background-color: var(--bg-dark-blue);
    padding: auto;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    z-index: 1000;
    right: 10px;
  }
}
.Vue-Toastification__toast {
  font-family: var(--main-font) !important;
}